.container.works__container {
    width: 40%;
    padding-bottom: 4rem;
    height: 50%;
}

.work__img {
    width: 7rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.work {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.work__deskripsi {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.5rem auto 0 ;
}

#works {
    padding-top: 5rem;
    margin-bottom: 5rem;
}


/* ======================== MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
    .container.works__container {
        width: 60%;
        height: 60%;
    }
    #works {
        padding-top: 3rem;
        margin-top: -5rem;
    }
    
}


/* ======================== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 700px) {
    .container.works__container {
        width: var(--container-width-sm);
        height: 100%;
    }
    .work_deskripsi {
        width: var(--container-width-sm);
    }
    #works {
        margin-top: -12rem;
        margin-bottom: 15rem;
    }



}